@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --foreground: #202023;
  --muted: #f2f2f5;
  --card: #fff;
  --primary: #5850ec;
  --primary-foreground: #fff;
}
